h1,h2,h3,h4,.tegh{color:#6B3708}

body{background-color:#fefef5}

A:link,.link{color:#6B3708;text-decoration:underline}
A:active{color:#5c3317}
A:visited{color:#6B3708}
A:hover,.link:hover{color:#B2251F;text-decoration:blink}

.grey{color: #969696}


#foot{
	background-color:#C5E1EC;
}
#up{
	background:#f78f07;
}