.m_img{
    margin: 5px 0;
    background-color: #EFEFEF;
}
.m_img_l{
    float:left;
    width:85px;
    background-color: #116060;
}
.m_img_l_i{
    margin:5px;
    width: 75px;
}
.m_img_c{
    /*background-color: #7a7a99;*/
    min-width:190px;
    max-width:675px;
    overflow:hidden;
    min-height:1px;
    position: relative;
}
.m_img_c_r{
    float:right;
    width: 140px;
    /*background-color: #6B3708;*/


}
.m_img_c_m{
    /*background-color: #1a7a29;*/
    min-width:190px;
    max-width:535px;
    overflow:hidden;
    min-height:1px;
    position: relative;

    /*display: table-cell;
    vertical-align: middle;*/


}

.m_price_old,.m_price{
    margin:3px;

    border-radius:3px;
    text-align:center;
    font-size:130%;
}
.m_price_old{

    text-decoration:line-through;

}

.m_price{
    padding: 5px;
    border:solid 1px #FFC310;

    background-color:#FFF8E5;
    font-size:150%;

}