.menu-art *{
    margin:0;
    padding: 0;

}
.menu-art{
   /* margin:0 auto;*/
    background: rgb(201,201,201);
    background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%);

}

.menu-art ul,.menu-art ol{
    list-style: none;
}

.menu-art > ul{
    display: flex;
    justify-content:space-between;
    align-items: stretch;
}

.menu-art > ul li{
    position: relative;
    /*border-right: 1px solid #c7c8ca;*/
}
/*.menu-art > ul li:first-child{
    border-left: 1px solid #b2b3b5;
}
.menu-art > ul li:last-child{
    border-right: 1px solid #babbbd;
}*/
.menu-art > ul li a{

    display: block;
    background: rgb(201,201,201);
    background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%);

    padding: 15px 82px 15px 90px;/*настройки ширины меню*/
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;
}
@media screen and (min-width:1223px) and (max-width:1250px){
    .menu-art > ul li:first-child a{
        padding: 15px 75px ;
    }
}

@media screen and (min-width:1161px) and (max-width:1222px){
    .menu-art>ul>li:first-child a{
        padding: 15px 58px;
    }
}
@media screen and (min-width:1135px) and (max-width:1160px){
    .menu-art > ul li a{
        padding: 15px 82px;
    }
    .menu-art>ul>li:first-child a{
        padding: 15px 50px;
    }
}
@media screen and (min-width:1075px) and (max-width:1134px){
    .menu-art > ul li a{
        padding: 15px 80px;
    }
    .menu-art>ul>li:first-child a{
        padding: 15px 40px;
    }
}
@media screen and (min-width:975px) and (max-width:1074px){
    .menu-art > ul li a{
        padding: 15px 70px;
    }
    .menu-art>ul>li:first-child a{
        padding: 15px 30px;
    }
}
@media screen and (min-width:841px) and (max-width:974px){
    .menu-art > ul li a{
        padding: 15px 69px;

    }
    .menu-art>ul>li:first-child a{
        display: none;
    }
}


.menu-art > ul li > a i.fa,
.menu-art label.toggleMenu > i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}
.menu-art li a:hover{

    background: rgb(224,225,229);
    background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%);

    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}
/*sub menu*/

.menu-art li ul{
    z-index:1000;
    position: absolute;
    min-width: 180px;
    display: none;
}
.menu-art li > ul li{
    border: 1px solid #c7c8ca;
}
.menu-art li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
}
.menu-art li > ul li ul{
    position: absolute;
    right: -180px;
    top: 0;
}

.menu-art li:hover > ul{
    display: block;
}




.menu-art [type="checkbox"],
.menu-art label.toggleSubmenu{
    display: none;
}
.menu-art label.toggleMenu{

    background: rgb(201,201,201);
    background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


    display:none;
    padding: 15px 50px 15px 60px;/*настройки ширины меню*/
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}




@media all and (max-width: 840px) {
    .menu-art {
        overflow: hidden;
    }
    .menu-art ul{
        display:none;
        max-height: 0;
        transition: max-height 0.3s;
    }
    .menu-art li ul{
        z-index:0;
    }
    .menu-art li>ul li ul{
        position: absolute;
        right: auto;
        top: auto;
    }
    .menu-art label.toggleMenu{
        display:block;
    }
    input.toggleMenu:checked + label.toggleMenu{
        background: #000;
        color: #fff;
    }
    /*sub menu*/
    .menu-art input.toggleMenu:checked ~ ul,
    .menu-art input.toggleSubmenu:checked ~ ul{
        display: block;
        position: relative;
        max-height: 5000px;
        transition: max-height 2s ease-in;
    }
    .menu-art label.toggleSubmenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
    }
    .menu-art input.toggleSubmenu:checked ~ a{
        background: #454547;
        color: #fff;
    }
    .menu-art label.toggleSubmenu .fa:before{
        content: "\f0d7";
        color: #454547;
    }
    .menu-art label.toggleSubmenu .fa{
        position: absolute;
        top: 15px;
        right: 30px;
    }
    .menu-art input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before{
        content: "\f0d8";
        color: #ffffff;
    }

}