h1,h2,h3,h4,.tegh{color:#000000}

A:link,.link{color:#5c3317;text-decoration:underline}
A:active{color:#5c3317}
A:visited{color:#520c0e}
A:hover,.link:hover{color:#B2251F;text-decoration:blink}

body{background-color:#EFEFEF}
.header,#headcontact{background-color:#4D5055}

.grey{color:#969696;opacity:1;animation:teltext 2.2s infinite;}

@keyframes teltext{0%{color:#969696;}40%{color:#fffff0;}100%{color:#969696;}}

#foot{background-color:#4D5055;}
#up{background:#4D5055;color:#ffffdd;}