#main_slider{
    position:relative;
    max-width:100%;/* можно ограничить по ширине в любых единицах, в т.ч. px(необязательно)*/
    max-height:300px;/* можно ограничить по высоте в любых единицах, в т.ч. px(необязательно)*/
    overflow:hidden;/* удалить, если нет max-width, max-height и outline у img*/
    margin:0;
    border:#EFEFEF solid 4px;
    box-sizing:border-box;
}
#main_slider img{
    position:absolute;
    top:0;
    left:0;
    /* Версия 1: абзац для того, чтобы изображение было растянуто во весь слайдер */
    height:100%;
    width:100%
}
#main_slider div{
    position:relative;
    margin-bottom:27%/*  процент от ширины (тут есть калькулятор) */
}
#main_slider img{
    display: none;
}

#main_slider img:nth-of-type(1){
    display: block;
}
#main_slider button:nth-of-type(1){
    opacity:0.4
}
#main_slider button{
    background-color:#CD7700;
    border-radius:9px;min-width:18px
}
#btnSlider{
    position:absolute;
    left:13px;
    bottom:13px;
    z-index:3
}