.on,.off,.manufacturer_name,.manufacturer_laptop,.manufacturer_order,.static_data,.bios_25{
    text-align: center;
    margin:5px;
    min-height:20px;
    min-width:33px;
    position:relative;
    float:left
}
.on{background-color:#1c7a05}
.off{background-color:#aa1111}

.manufacturer_name,.static_data{
    width:100px;
    background-color:#72b572;
}
.manufacturer_laptop{
    width:53px;
}
.manufacturer_order{
    background-color:#72b572;
}

.bios_salat{
    background-color:#72b572;
}
.bios_25{
    width: 25%;
}
