.dexter_menu{
    color:#ffffdd;
    width:53px;
    position:relative;
    text-align:center;
    height:40px;
    font-family: 'Arial';
    float:right;

    user-select: none;


}

@media screen and (min-width:541px) and (max-width:813px){
    .dexter_menu{
        width:70%;

    }
}
@media screen and (max-width:540px){
    .dexter_menu{width:100%;background-color:rgba(20,20,20,.8);}
}
/********************/
#dexter_menu_check{
    display: none;
}
.dexter_menu label{
    width:60px;
    display: block;
    position: absolute;
    top:0;
    right:0;
    height:100%;
    cursor:pointer;
    line-height: 40px;
    z-index:2;

    /*background-color: #00BC52;*/
}

/********************/
.dexter_menu_label{display:none}
/********** бургер крестик **********/
.dexter-line{
    position:absolute;
    top:8px;
    right:10px;
    width:35px;
    height:2px;
    background-color:#fff;
    transition:.5s all;
    /*z-index:5;*/
}
.dexter_menu .second,.dexter_menu .third{top:18px;}
.dexter_menu .fourth{top:28px;}


.dexter_menu .dexter-main-menu-top{/*див  с надписью menu*/
    /*background-color: #000;*/
    width:100%;
    height: 100%;
    transition: .5s all;
    /*z-index:5;*/

}
/*анимация крестика бурера*/
#dexter_menu_check:checked~.first{display:none}
#dexter_menu_check:checked~.fourth{display:none}
#dexter_menu_check:checked~.second{transform:rotate(45deg)}
#dexter_menu_check:checked~.third{transform:rotate(-45deg)}
/********* сами пункты меню***********/

#dexter_menu_check ~ .dexter-main-menu{

    /*opacity:0;*/
}



@media screen and (max-width:813px){
    .dexter_menu .dexter-main-menu{
        display:block;
        position:absolute;
        width:100%;
        bottom:0;
        left:0;
        transform:translateY(100%);/*раскрываться на 100% всех подменю*/
        max-height:0;
        font-size:0;
        overflow:hidden;
        transition:.5s all;
        z-index: 9;
    }
    .dexter_menu .dexter-main-menu a{
        display:block;
        width:100%;
        padding:13px 0;
        color:#fffffd;
        text-decoration:none;
        border-top:1px solid rgba(255,255,255,.3);
        background-color:rgba(20,20,20,.85);
    }
    #dexter_menu_check:checked ~ .dexter-main-menu-top> .dexter_menu_label{
        display: block;
    }
    #dexter_menu_check:checked ~ .dexter-main-menu-top{
        background-color:rgba(20,20,20,.85);
        padding-top:13px;
        width:100%;
        display:block;
        height:100%;
    }
    #dexter_menu_check:checked ~ .dexter-main-menu{
        max-height:600px;
        font-size:16px;
        width:100%;
        opacity:1;
    }
}

@media screen and (min-width:814px){

    .dexter_menu{
        /*background-color: #004e6f;*/
        width:800px;
    }

    .dexter_menu .dexter-main-menu-top{/*див  с надписью menu*/
        background-color:#000;
        width:0;
        float:left;
    }

    #dexter_menu_check ~ .dexter-main-menu a{
        color:#ffffdd;
        padding-top:12px;
        float:left;
        display:none;
        width: 120px;
        height: 25px;
       /* opacity:0;*/
    }
    #dexter_menu_check:checked ~ .dexter-main-menu a{
        display: block;
    }


    #dexter_menu_check:checked ~ .dexter-main-menu{
        max-height:600px;
        font-size:16px;
        width:100%;
        opacity:1;
    }
}
