html,body{height:100%;
    font:15px Verdana,Geneva,serif;
    text-align:justify;
    cursor:default;
    box-sizing:border-box;
}
.maxw{
    margin:0 auto;
    max-width:1240px;

}
/*++++++++++++++++++++++++++++++++*/

body{

}

.min_h{
    min-height:100px;
}

.fon{
    background-color: #ffffdd;
}
.fon2{
    background-color:#EFE0C8;
}
/************************************/

.first_d{
    /*background-image:url(img/lp/dym_top_fon.jpg);*/
    background-color:#8E8B8B;
    min-height: 900px;
}
.first_d>div{
    height:165px;
    background:linear-gradient(rgba(0,0,0,.9) 0,rgba(0,0,0,.7) 35%,rgba(0,0,0,.3) 70%,transparent 100%);
    padding-top:25px;
}



