body{padding:0 8px 3px}
@media screen and (max-width:720px){
	body{padding:0 0 3px}
}
html,body{height:100%;
	font:15px Verdana,Geneva,sans-serif;
	text-align:justify;
	cursor:default}

.maxw{
	margin:2px auto;
	min-width:240px;
	max-width:1250px
}

#bh{
	min-height:8px
}	
/*++++++++++++++++++++++++++++++++*/
#header{
	min-height:100px
}
	#logo{
	width:240px;
	min-height:110px;
	text-align:center
	}

	@media screen and (max-width:540px){
		#logo{width:100%}
	}
	/*#logoimg{position: relative}*/
	@media screen and (min-width: 801px) and (max-width: 1920px){
		#logoimg{
			position: absolute;
			left: 12px;
			top:-3px;
			z-index: 3;
			max-width: 350px
		}
	}
	.h_field{
	min-width:240px;
	max-width:1260px;
	overflow:hidden
	}
@media screen and (max-width:540px){
	.h_field{min-height:10px}
}

#ah{
	min-height:1px
}
/**************************/
/**************************/
#wrap{
	min-height:100px;
	padding:5px 5px 0
}
#l_col{
	width:238px;
	float:left;
	overflow:hidden
}
#m_col{
	min-width:238px;
	max-width:1260px;
	overflow:hidden
}
/**************************/
/*  m_col_child Start */
#c_col{
	min-width:238px;/*+120px;*/
	max-width:1020px;
	overflow:hidden
}
#r_col{
	width:238px;
	overflow:hidden
}
/*  m_col_child End */
/**************************/
#bf{min-height:5px}
#foot{min-height:45px}#copy{font-size:70%}


@media screen and(min-width: 801px)and(max-width: 1920px){
	#share{
		z-index:333;
		position:fixed;
		left:50px;
		bottom:50px
	}
}
@media screen and (min-width: 320px) and (max-width: 750px){
	#wrap{padding:0}
	#l_col{
		width:80%;
		float:none;
		margin:0 auto
	}
	#c_col{width:100%}
	#r_col{width:100%}
}
/*Для отображения на устройствах меньше 480px*/
@media screen and(min-width:240px)and(max-width:319px){
	#l_col{
		width:100%;
		float:none
	}
	#c_col{width:100%}
	#r_col{width:100%}
}