.burger{
    display:none;
    cursor:pointer;
    position:absolute;
    top:15px;
    right:0;
    height:40px;
    width:40px;
    z-index:5;
    /*background-color:#F2BD3B;*/
}
@media screen and (max-width:800px){
    .burger{display:block;}
}
.burger_line{
    height:3px;
    width:40px;
    position: absolute;
    left:0;
    background-color:#ffffdd;
    border-radius:2px;
    transition:.1s;
}
.burger>div:nth-child(1){top:9px}
.burger>div:nth-child(2){top:18px}
.burger>div:nth-child(3){top:27px}
.burger:hover .burger_line{background-color:rgba(255,255,255,.7)}

.burger:active>div:first-child,.burger_active_L1{
    transform:rotate(45deg);
    position:absolute;
    top:18px;
    background-color:#ffffdd;
}
.burger:active>div:last-child,.burger_active_L3{
    transform:rotate(-45deg);
    position:absolute;
    top:18px;
    background-color:#ffffdd;
}
.burger:active>div:nth-child(2){display:none}
/****************************************************/
/****************************************************/
/****************************************************/
#burger_pc{
    height:70px;
    width: 100%;
    padding-top:30px;
}
@media screen and (max-width:800px){#burger_pc{display:none}}
#burger_pc ul{
    /*background-color:#1a394f;*/
}
#burger_pc>ul>li{
    display:inline;
    margin:7px;
}

#burger_pc a{
    text-decoration:none;
    font-size: 140%;
    font-weight:600;
    display:inline-block;
    height: 25px;
    width:120px;
    text-align: center;
    color:#ffffdd;
    margin:3px;
    padding:6px 4px;
}

#burger_pc a:visited{color:#ffffdd}/*!!!!:visited, а затем идёт :hover*/
#burger_pc a:hover{color:#FF0000}

/****************************************************/
/****************************************************/
/****************************************************/
#burger_mob{
    position:fixed;
    left:0;
    right:0;
    top:50px;
    background-color:#FC761E;
    z-index:120;
}
.burger_mob{
    margin:20px auto;
    height:80%;
    min-width:150px;
    max-width:250px;
    background-color: #9BEFF3;

}
.burger_mob li{
    display:block;
    text-align:center;
    padding:13px;

    background-color: #00afea;
}
.burger_mob a{
    display:block;
  /*  margin: 13px;*/
    background-color: #ffffdd;

}
