html,body{
	height:100%;
	font:15px Verdana,Geneva,sans-serif;
	color:#ffffee;
	text-align:justify;
	cursor:default;
}
body{background:#000 url("../img/site/dbpic.php?i=bg")fixed repeat;}
/*@media screen and (min-width:10px) and (max-width:480px){body{background:url("../img/site/dbpic.php?i=back_m")fixed repeat;}}*/

.maxw{
	margin:0 auto;
	min-width:240px;
	max-width:1240px
}

#bh{
	height:50px;
	/*padding:15px 2px 1px;*/
	background-color: #373737;
	font:16px Times, Times New Roman, serif;
}
#bflocation{
	float:left;
	height:50px;
	width:150px;
	overflow:hidden; /* всё, что выходит за рамки блока обрезается */
	white-space:nowrap; /* блок может содержать не более одной строки */
	text-align:center;
	line-height:3em; /* не поддерживается Opera Mini [opera.com] */

}
.location:before{content:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWCAYAAAAmaHdCAAAB9klEQVQ4jY3UO0iWURgH8N/7+kESfoGLRTewnMqwAnEoE5OKtsrFKeiyZEPXMSga2oqE5ooQEjKQmoIagigi6OJlzEGoEILQRAqSr+Gctz5Pn9J/OZzn+Z/nPPdsdliKTbiCrViHevzAJ0xE3WRBLvdWlKoer8BdHIwP3mAAn7EWe9GOt3iCo/iJP0ZW4jma408DqCQe3kOGM7iEl+jEfB4JQ9iA/bhZw0CBStTvi6EOQY4udONadLUaW3ASHYn8XeR3f3+YdWWzw0bQgm1VHtThEfZgHg0YwwHMRE6GUXzMo4HxJISr2IVTWB0fr8ftJLRxtORowofE3XahnIPx/iKG0JzwRtGUR7fmEuVXbMSaeK+PBmYS3hyyUlS0JspzeCUkegybsQrHEl4rZnJMoS1RTmMH7sffnmK70IDVaMNUSWiiW+jBsyrCDC5YGj3Rk9PZ7LAMr9EYf0/zUwsNQqK/oSMXStWHMh78hwGRV0ZfubdSKdp+EhexW5id5XA58i7Gd/Iq5aAwC2eFwaqFTqFyQ/72kCzZJ3XCdDZhpxBzgUah5NNCNy8Q9kluMRZwSFgRI0IjiudIlB8pDBRIjcAX9At9cSPKrsd7v7CkFqGUCiIeC8N2HL9wAnei/B/U8qTAebwXElmcNbGckYqQnwkctvS28xs34nkGq4bfkgAAAABJRU5ErkJggg==');
}

#bftimew{
	float:left;
	height:50px;
	width:200px;
	overflow:hidden; /* всё, что выходит за рамки блока обрезается */
	white-space:nowrap; /* блок может содержать не более одной строки */
	text-align:center;
	line-height:3em; /* не поддерживается Opera Mini [opera.com] */

}
#bfmenu{
	float:left;
	height:50px;
	width:250px;
	/*overflow:hidden;  всё, что выходит за рамки блока обрезается */
	white-space:nowrap; /* блок может содержать не более одной строки */
	text-align:center;
	line-height:3em;
}
#bfmenu a{
	display:inline;
	margin:0 12px;
	width:75px;
	text-decoration:none;
}

#bfmenu a:hover{color:#AA0500;text-decoration:#00BC52;text-decoration:underline}
#bfmenu a:link{color:#ffffdd}
#bfmenu a:visited{color:#ffffdd}

/*
#header{
	min-height:70px
}
	#logo{
	width:240px;
	overflow:hidden;
	min-height:inherit
	}
	.h_field{
    box-sizing:border-box;
	min-width:240px;
	max-width:1260px;
	overflow:hidden;
	margin-bottom:6px;
	}

	.inline{display:inline}
	.h_field img{vertical-align: middle;}
	.top_l,.top_c,.top_r{width:33%;float:left;}
.top_l,.top_c,.top_r{padding: 0.6em 0;}
@media screen and (max-width:700px){
	.top_c{display:none;}
	.top_l,.top_r{width:49%;}
}
#ah{
	min-height:13px
}*/
/**************************/
/**************************/
/*
#wrap{
	border-radius:9px 9px 0 0
}

#l_col{
    float:left;
	width:240px;

}

#m_col{
	min-width:240px;
	max-width:1000px;
	overflow:hidden
}*/
/**************************/
/*  m_col_child Start */
/*
#c_col{
	min-width:240px;
    max-width:760px;
	overflow:hidden
}

#r_col{
	float:right;
	width:240px;
	overflow:hidden
}*/

/*  m_col_child End */
/**************************/
/**************************/
/*
#bf{min-height:5px}

#foot{
	min-height:40px;border-radius:5px
}

#copy{font-size:70%}


@media screen and (min-width:1281px) and (max-width:3000px){
    .maxw{max-width:1500px;}
    #m_col{max-width:1260px;}
    #c_col{max-width:1020px;}
}
*/
/*Для отображения на устройствах меньше 480px*/
/*
@media screen and (max-width:740px){
    #logo{width:100%}
    .fon,.fon_c{margin:0 0 7px;}
    .tb2_l_col,.tb2_r_col{width:99.1%;}
    #l_col{width:100%;float:none}
    #r_col{width:100%}
}*/