html,body{
	height:100%;
	font:15px Verdana,Geneva,sans-serif;
	color:#ffffee;
	text-align:justify;
	cursor:default;
}
body{background:#000 url("../img/site/dbpic.php?i=bg")fixed repeat;}

.maxw{
	margin:0 auto;
	min-width:240px;
	max-width:1240px
}

#bh{
	/*min-*/height:50px;
	background-color:#373737;
	font:16px Times, Times New Roman, serif;
	z-index:3;
}
#bhlocation{
	float:left;
	height:50px;
	width:230px;
	overflow:hidden; /* всё, что выходит за рамки блока обрезается */
	white-space:nowrap; /* блок может содержать не более одной строки */
	text-align:center;
	line-height:3em;
	/*background-color:#00BC52;*/
	margin:0 20px 0 0
}
@media screen and (max-width:1100px){#bhlocation{margin:0}}
@media screen and (max-width:970px){#bhlocation{width:120px}}
@media screen and (max-width:397px){#bhlocation{display: none}}
.location:before{content:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWCAYAAAAmaHdCAAAB9klEQVQ4jY3UO0iWURgH8N/7+kESfoGLRTewnMqwAnEoE5OKtsrFKeiyZEPXMSga2oqE5ooQEjKQmoIagigi6OJlzEGoEILQRAqSr+Gctz5Pn9J/OZzn+Z/nPPdsdliKTbiCrViHevzAJ0xE3WRBLvdWlKoer8BdHIwP3mAAn7EWe9GOt3iCo/iJP0ZW4jma408DqCQe3kOGM7iEl+jEfB4JQ9iA/bhZw0CBStTvi6EOQY4udONadLUaW3ASHYn8XeR3f3+YdWWzw0bQgm1VHtThEfZgHg0YwwHMRE6GUXzMo4HxJISr2IVTWB0fr8ftJLRxtORowofE3XahnIPx/iKG0JzwRtGUR7fmEuVXbMSaeK+PBmYS3hyyUlS0JspzeCUkegybsQrHEl4rZnJMoS1RTmMH7sffnmK70IDVaMNUSWiiW+jBsyrCDC5YGj3Rk9PZ7LAMr9EYf0/zUwsNQqK/oSMXStWHMh78hwGRV0ZfubdSKdp+EhexW5id5XA58i7Gd/Iq5aAwC2eFwaqFTqFyQ/72kCzZJ3XCdDZhpxBzgUah5NNCNy8Q9kluMRZwSFgRI0IjiudIlB8pDBRIjcAX9At9cSPKrsd7v7CkFqGUCiIeC8N2HL9wAnei/B/U8qTAebwXElmcNbGckYqQnwkctvS28xs34nkGq4bfkgAAAABJRU5ErkJggg==');}

#bhtimew{
	float:left;
	height:50px;
	width:230px;
	overflow:hidden;
	white-space:nowrap;
	text-align:center;
	line-height:3em;
	margin:0 25px
}
@media screen and (max-width:1080px){#bhtimew{margin:0}}
@media screen and (max-width:870px){#bhtimew{width:175px}}
@media screen and (max-width:790px){#bhtimew{display:none}}

#bhmenu{
	float:left;
	height:50px;
	width:250px;
	overflow:hidden;
	white-space:nowrap;/*блок может содержать не более одной строки */
	text-align:center;
 	line-height:3em;
	/*background-color:#cccccc;*/
	margin:0 30px
}
@media screen and (max-width:1030px){#bhmenu{margin:0}}
@media screen and (max-width:813px){#bhmenu{width:180px;margin:0 15px}}
@media screen and (max-width:610px){#bhmenu{display:none}}
#bhmenu a{
	color:#ffffdd;
	display:inline-block;
	margin:0 12px;
	width:75px;
	text-decoration:none
}

#bhmenu a:visited{color:#ffffdd}/*!!!!:visited, а затем идёт :hover*/
#bhmenu a:hover{color:#FF0000}

#bhtel{
	float:left;
	height:50px;
	width:180px;
	text-align:center;
	line-height:3em
}
@media screen and (max-width:380px){#bhtel{width:70%}}
#bhtel a{
	 color:#ffffdd;
	 display:inline-block;
	 text-decoration:none
}
#bhtel a:visited{color:#ffffdd}/*!!!!:visited, а затем идёт :hover*/
#bhtel a:hover{color:#FF0000}
#bhtel a:before{content:url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.3914 24.6384L24.319 20.5909C23.9475 20.3451 23.4969 20.2482 23.0572 20.3197C22.6174 20.3911 22.2207 20.6256 21.9461 20.9765L20.1767 23.2509C20.0667 23.3959 19.9082 23.4963 19.7302 23.5337C19.5522 23.5712 19.3666 23.5432 19.2076 23.4548L18.8701 23.2691C17.7569 22.6615 16.3665 21.9045 13.57 19.1092C10.7734 16.3138 10.0153 14.9229 9.4071 13.8096L9.22254 13.4733C9.13295 13.3142 9.10389 13.1281 9.14072 12.9493C9.17754 12.7704 9.27776 12.6109 9.42292 12.5001L11.6957 10.7319C12.0464 10.4571 12.2809 10.0603 12.3524 9.62054C12.4239 9.18076 12.3273 8.73015 12.0818 8.35836L8.0308 2.28309C7.77945 1.90581 7.3925 1.63978 6.95024 1.54018C6.50798 1.44058 6.04435 1.51505 5.65553 1.74815L3.11621 3.27151C2.3177 3.74097 1.7322 4.50161 1.4827 5.39367C0.568683 8.72513 1.25654 14.4752 9.72701 22.9474C16.4649 29.6854 21.4815 31.497 24.929 31.497C25.7225 31.5 26.5129 31.3968 27.279 31.19C28.1702 30.94 28.93 30.3545 29.3989 29.5565L30.9257 27.0183C31.1605 26.6292 31.2359 26.1645 31.1364 25.7211C31.0368 25.2777 30.7699 24.8898 30.3914 24.6384ZM30.0644 26.5033L28.5411 29.0426C28.2048 29.6184 27.659 30.0418 27.0177 30.2244C23.9417 31.0693 18.5684 30.3697 10.4365 22.2373C2.30473 14.1049 1.60281 8.73451 2.4471 5.65791C2.63026 5.01568 3.05423 4.46892 3.63064 4.13162L6.16996 2.60826C6.33906 2.50706 6.54066 2.47495 6.73284 2.5186C6.92501 2.56225 7.09296 2.67831 7.20174 2.84263L9.40124 6.14539L11.248 8.91497C11.3545 9.07631 11.3964 9.27176 11.3654 9.46255C11.3345 9.65335 11.233 9.82555 11.081 9.94499L8.80772 11.7133C8.47303 11.9691 8.2419 12.3371 8.15676 12.7496C8.07162 13.1622 8.1382 13.5916 8.34426 13.959L8.52472 14.2872C9.16336 15.459 9.95785 16.9167 12.8604 19.8169C15.763 22.7172 17.2184 23.5082 18.3896 24.1527L18.7183 24.3337C19.0858 24.5394 19.5152 24.6058 19.9276 24.5207C20.3401 24.4355 20.7081 24.2046 20.9641 23.8703L22.7301 21.5917C22.8494 21.4396 23.0216 21.338 23.2125 21.307C23.4033 21.2761 23.5988 21.3181 23.7601 21.4247L29.8324 25.4739C29.9965 25.5829 30.1121 25.751 30.1554 25.9432C30.1986 26.1354 30.166 26.3369 30.0644 26.5057V26.5033Z' fill='%23F2BD3B' stroke='%23F2BD3B' stroke-miterlimit='10'/%3E%3Cpath d='M18.1766 6.49892C20.4301 6.50156 22.5905 7.39791 24.1839 8.99136C25.7774 10.5848 26.6737 12.7452 26.6763 14.9987C26.6763 15.1312 26.729 15.2584 26.8227 15.3521C26.9165 15.4458 27.0436 15.4985 27.1761 15.4985C27.3087 15.4985 27.4358 15.4458 27.5295 15.3521C27.6232 15.2584 27.6759 15.1312 27.6759 14.9987C27.6733 12.4801 26.6716 10.0653 24.8907 8.28435C23.1099 6.50337 20.6952 5.50157 18.1766 5.49878C18.0469 5.50322 17.9241 5.55785 17.8339 5.65115C17.7438 5.74444 17.6934 5.86911 17.6934 5.99885C17.6934 6.12859 17.7438 6.25326 17.8339 6.34656C17.9241 6.43985 18.0469 6.49448 18.1766 6.49892Z' fill='%23F2BD3B' stroke='%23F2BD3B' stroke-miterlimit='10'/%3E%3Cpath d='M18.1766 9.49795C19.6343 9.50042 21.0317 10.0807 22.0623 11.1117C23.0929 12.1426 23.6727 13.5401 23.6748 14.9978C23.6748 15.1304 23.7274 15.2575 23.8211 15.3512C23.9149 15.445 24.042 15.4976 24.1745 15.4976C24.3071 15.4976 24.4342 15.445 24.5279 15.3512C24.6217 15.2575 24.6743 15.1304 24.6743 14.9978C24.6725 13.2749 23.9874 11.623 22.7693 10.4045C21.5512 9.18598 19.8995 8.50028 18.1766 8.4978C18.0469 8.50224 17.9241 8.55687 17.8339 8.65017C17.7438 8.74347 17.6934 8.86813 17.6934 8.99787C17.6934 9.12761 17.7438 9.25228 17.8339 9.34558C17.9241 9.43888 18.0469 9.49351 18.1766 9.49795Z' fill='%23F2BD3B' stroke='%23F2BD3B' stroke-miterlimit='10'/%3E%3Cpath d='M18.1766 12.4979C18.8394 12.4987 19.4749 12.7624 19.9436 13.2311C20.4123 13.6997 20.6759 14.3352 20.6767 14.998C20.6767 15.1306 20.7294 15.2577 20.8231 15.3514C20.9168 15.4451 21.0439 15.4978 21.1765 15.4978C21.309 15.4978 21.4362 15.4451 21.5299 15.3514C21.6236 15.2577 21.6763 15.1306 21.6763 14.998C21.6753 14.0701 21.3063 13.1804 20.6502 12.5242C19.9942 11.868 19.1045 11.4989 18.1766 11.4978C18.0469 11.5022 17.9241 11.5569 17.8339 11.6502C17.7438 11.7435 17.6934 11.8681 17.6934 11.9979C17.6934 12.1276 17.7438 12.2523 17.8339 12.3456C17.9241 12.4389 18.0469 12.4935 18.1766 12.4979Z' fill='%23F2BD3B' stroke='%23F2BD3B' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");}
.lng_btn{float:right}
/************************************************/
/************************************************/
#headerback{
	display:none;
	background-color:#01c1c1;
}
#header,#headerback{
	min-height:70px;

}
#header{
	z-index:2;
	position:relative;
	background-color:#111;
	background-color:rgba(17,17,17,.94);
	/*background-color:#ff1;*/
	height:110px;
}

	#logo{
		position:relative;
		float:left;
		padding:0 40px;
		width:140px;
		overflow:hidden;
		/*background-color: #01c1c1;*/
	}
	@media screen and (min-width:801px) and (max-width:900px){
	#logo{
		padding:0;
	}}
	@media screen and (max-width:800px){
	#logo{width:100px}
	}

	#burgermenu{
		box-sizing:border-box;
		height:110px;
		min-width:240px;
		max-width:1240px;
		/*background-color: #9BEFF3;*/
	}



/*	.h_field{
    box-sizing:border-box;
	min-width:240px;
	max-width:1260px;
	overflow:hidden;
	margin-bottom:6px;
	}

	.inline{display:inline}
	.h_field img{vertical-align: middle;}
	.top_l,.top_c,.top_r{width:33%;float:left;}
.top_l,.top_c,.top_r{padding: 0.6em 0;}
@media screen and (max-width:700px){
	.top_c{display:none;}
	.top_l,.top_r{width:49%;}
}
#ah{
	min-height:13px
}*/
/**************************/
/**************************/
/*
#wrap{
	border-radius:9px 9px 0 0
}

#l_col{
    float:left;
	width:240px;

}

#m_col{
	min-width:240px;
	max-width:1000px;
	overflow:hidden
}*/
/**************************/
/*  m_col_child Start */
/*
#c_col{
	min-width:240px;
    max-width:760px;
	overflow:hidden
}

#r_col{
	float:right;
	width:240px;
	overflow:hidden
}*/

/*  m_col_child End */
/**************************/
/**************************/
/*
#bf{min-height:5px}

#foot{
	min-height:40px;border-radius:5px
}

#copy{font-size:70%}


@media screen and (min-width:1281px) and (max-width:3000px){
    .maxw{max-width:1500px;}
    #m_col{max-width:1260px;}
    #c_col{max-width:1020px;}
}
*/
/*Для отображения на устройствах меньше 480px*/
/*
@media screen and (max-width:740px){
    #logo{width:100%}
    .fon,.fon_c{margin:0 0 7px;}
    .tb2_l_col,.tb2_r_col{width:99.1%;}
    #l_col{width:100%;float:none}
    #r_col{width:100%}
}*/