/*  форма заказа */


.land_form_fast_buy{
    position:relative;
    width:87%;
    margin:17px auto;
    overflow:hidden;
    display:block;
}

.land_form_fast_buy input{
    width:60%;
    height:40px;
    font-size:18px;
    display:block;
    margin:15px auto;
    border-radius:4px;
    padding-left:20px
}
.land_form_fast_buy select{
    color:gray;
    width:62%;
    height:42px;
    font-size:18px;
    display:block;
    margin:15px auto;
    border-radius:4px;
    padding-left:18px
}
.land_form_fast_buy select option:first-child{
    display:none;
}

.land_form_fast_buy select option{
    color:black;
}
.land_form_fast_buy input[type="submit"]{
    width:62%;
    cursor:pointer;
}

.land_form_fast_buy input:hover,.land_form_fast_buy select:hover{box-shadow:0 0 6px 3px rgba(58,219,253,.35)}


@media screen and (min-width:561px) and (max-width:944px){
    .land_form_fast_buy{
        width:100%;
    }
    .land_form_fast_buy input{
        width:80%;
    }
    .land_form_fast_buy select{
        width:83.5%;
    }
}
@media screen and (max-width:560px){
    .land_form_fast_buy{
        width:100%;
    }
    .land_form_fast_buy input{
        padding-left:5px;
        width:89%;
    }
    .land_form_fast_buy select{
        padding-left:5px;
        width:92%;
    }
}
/*  форма заказа конец*/


